@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes swiggle {
    0% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}

.hover\:animate-swiggle:hover {
    animation: swiggle 0.5s ease-in-out infinite;
}
@layer utilities {
    .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
      display: none;
    }
  }
  